node_modules/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.env
.venv
uploads/
*.mp4
*.flac
*.wav
*.avi
*.mp3
.DS_Store
Thumbs.db

01_Pro_Version/environment/CARLA_Server/

# Added during Sanitization
01_Pro_Version/data/live_status.json
01_Pro_Version/data/state.json
01_Pro_Version/data/results.xml
01_Pro_Version/data/results.csv
01_Pro_Version/data/traffic_log.csv
01_Pro_Version/environment/Lib/
01_Pro_Version/environment/Scripts/
*.log
.vscode/
.idea/
